In [1]:
# For data manipulation

import pandas as pd

import numpy as np 

# machine learning classification

from sklearn.svm import SVC

from sklearn.metrics import scorer

from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


# To plot
%matplotlib inline
import matplotlib.pyplot as plt

import seaborn

# To fetch data

#from pandas_datareader import data as pdr

In [2]:
hkong = pd.read_csv('E:/hkong1.csv')
print hkong.shape
hkong.head()

(1557, 1071)

,Date,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
0,3/11/2013,32.200001,32.599998,31.700001,31.950001,1708417.0,34.200001,34.750000,34.000000,34.349998,...,-1,-1,-1,1,-1,-1,-1,-1,-1,-1
1,3/12/2013,31.950001,32.400002,31.799999,32.099998,1597412.0,34.799999,34.799999,34.150002,34.200001,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,3/13/2013,31.799999,32.099998,30.900000,31.100000,2922548.0,34.599998,34.599998,33.500000,33.900002,...,-1,1,-1,-1,-1,-1,1,1,-1,-1
3,3/14/2013,30.549999,31.350000,30.500000,31.000000,2704634.0,34.049999,34.049999,33.549999,34.000000,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,3/15/2013,31.650000,31.900000,30.850000,30.950001,3487274.0,34.500000,34.849998,34.099998,34.500000,...,-1,1,-1,-1,-1,-1,-1,1,-1,-1

In [3]:
hkong.index = hkong.Date
hkong = hkong.drop('Date', axis=1)
hkong.shape

(1557, 1070)

In [4]:
hkong.head()

,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,Volume_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
Date,,,,,,,,,,,,,,,,,,,,,
3/11/2013,32.200001,32.599998,31.700001,31.950001,1708417.0,34.200001,34.750000,34.000000,34.349998,37379155.0,...,-1,-1,-1,1,-1,-1,-1,-1,-1,-1
3/12/2013,31.950001,32.400002,31.799999,32.099998,1597412.0,34.799999,34.799999,34.150002,34.200001,23618156.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3/13/2013,31.799999,32.099998,30.900000,31.100000,2922548.0,34.599998,34.599998,33.500000,33.900002,31644955.0,...,-1,1,-1,-1,-1,-1,1,1,-1,-1
3/14/2013,30.549999,31.350000,30.500000,31.000000,2704634.0,34.049999,34.049999,33.549999,34.000000,21286152.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3/15/2013,31.650000,31.900000,30.850000,30.950001,3487274.0,34.500000,34.849998,34.099998,34.500000,44707880.0,...,-1,1,-1,-1,-1,-1,-1,1,-1,-1

In [6]:
target=hkong.iloc[:, 1040:].columns
target

Index([u'Target_0', u'Target_1', u'Target_2', u'Target_3', u'Target_4',
       u'Target_5', u'Target_6', u'Target_7', u'Target_8', u'Target_9',
       u'Target_10', u'Target_11', u'Target_12', u'Target_13', u'Target_14',
       u'Target_15', u'Target_16', u'Target_17', u'Target_18', u'Target_19',
       u'Target_20', u'Target_21', u'Target_22', u'Target_23', u'Target_24',
       u'Target_25', u'Target_26', u'Target_27', u'Target_28', u'Target_29'],
      dtype='object')

In [7]:
X = hkong.iloc[:, :1040]

sc = StandardScaler()
X = sc.fit_transform(X)
#X_test = sc.transform(X_test)
X.shape

(1557, 1040)

In [10]:
scores = []

for col in target:
    y = hkong[col]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    

    classifier = LogisticRegression()

    cv_score = np.mean(cross_val_score(classifier, X_test, y_test, cv=3, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    classifier.fit(X_train, y_train)
    accuracy_train = accuracy_score(y_train, classifier.predict(X_train))

    accuracy_test = accuracy_score(y_test, classifier.predict(X_test))
    print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(test_features)[:, 1]

print('Total CV score is {}'.format(np.mean(scores)))

CV score for class Target_0 is 0.669928359252

Train Accuracy: 82.92%
Test Accuracy: 62.61%
CV score for class Target_1 is 0.695342312009

Train Accuracy: 84.66%
Test Accuracy: 64.96%
CV score for class Target_2 is 0.637677345477

Train Accuracy: 82.46%
Test Accuracy: 59.83%
CV score for class Target_3 is 0.660129253217

Train Accuracy: 84.02%
Test Accuracy: 63.46%
CV score for class Target_4 is 0.672979678468

Train Accuracy: 84.21%
Test Accuracy: 60.04%
CV score for class Target_5 is 0.682441942294

Train Accuracy: 83.29%
Test Accuracy: 60.68%
CV score for class Target_6 is 0.61939081711

Train Accuracy: 84.30%
Test Accuracy: 63.25%
CV score for class Target_7 is 0.562936718549

Train Accuracy: 85.77%
Test Accuracy: 62.18%
CV score for class Target_8 is 0.577352472089

Train Accuracy: 85.40%
Test Accuracy: 60.90%
CV score for class Target_9 is 0.629838142153

Train Accuracy: 85.03%
Test Accuracy: 60.90%
CV score for class Target_10 is 0.60022385198

Train Accuracy: 83.47%
Test Accuracy: 61.54%
CV score for class Target_11 is 0.682042648709

Train Accuracy: 83.75%
Test Accuracy: 62.39%
CV score for class Target_12 is 0.61986863711

Train Accuracy: 84.30%
Test Accuracy: 61.75%
CV score for class Target_13 is 0.647675748171

Train Accuracy: 83.93%
Test Accuracy: 62.18%
CV score for class Target_14 is 0.607889104592

Train Accuracy: 84.48%
Test Accuracy: 64.74%
CV score for class Target_15 is 0.644283179454

Train Accuracy: 84.48%
Test Accuracy: 61.11%
CV score for class Target_16 is 0.616475381214

Train Accuracy: 84.21%
Test Accuracy: 60.90%
CV score for class Target_17 is 0.658969907407

Train Accuracy: 83.93%
Test Accuracy: 62.39%
CV score for class Target_18 is 0.606419180746

Train Accuracy: 84.85%
Test Accuracy: 62.18%
CV score for class Target_19 is 0.588548296246

Train Accuracy: 83.75%
Test Accuracy: 59.19%
CV score for class Target_20 is 0.660434504048

Train Accuracy: 84.39%
Test Accuracy: 62.39%
CV score for class Target_21 is 0.702389039855

Train Accuracy: 84.21%
Test Accuracy: 58.33%
CV score for class Target_22 is 0.642899559364

Train Accuracy: 83.47%
Test Accuracy: 59.83%
CV score for class Target_23 is 0.587505809404

Train Accuracy: 85.12%
Test Accuracy: 59.83%
CV score for class Target_24 is 0.580820675426

Train Accuracy: 83.75%
Test Accuracy: 60.90%
CV score for class Target_25 is 0.678512386428

Train Accuracy: 85.03%
Test Accuracy: 64.32%
CV score for class Target_26 is 0.638675634794

Train Accuracy: 82.92%
Test Accuracy: 62.61%
CV score for class Target_27 is 0.640798611111

Train Accuracy: 82.92%
Test Accuracy: 62.82%
CV score for class Target_28 is 0.691260241794

Train Accuracy: 91.74%
Test Accuracy: 70.09%
CV score for class Target_29 is 0.97085584408

Train Accuracy: 100.00%
Test Accuracy: 97.65%
Total CV score is 0.649152176085

In [11]:
scores = []

for col in target:
    y = hkong[col]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    classifier = SVC()

    cv_score = np.mean(cross_val_score(classifier, X_test, y_test, cv=3, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    classifier.fit(X_train, y_train)
    accuracy_train = accuracy_score(y_train, classifier.predict(X_train))

    accuracy_test = accuracy_score(y_test, classifier.predict(X_test))
    print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(test_features)[:, 1]

print('Total CV score is {}'.format(np.mean(scores)))

CV score for class Target_0 is 0.68501368746

Train Accuracy: 70.25%
Test Accuracy: 61.54%
CV score for class Target_1 is 0.685970819304

Train Accuracy: 72.08%
Test Accuracy: 60.90%
CV score for class Target_2 is 0.657922241852

Train Accuracy: 72.54%
Test Accuracy: 59.83%
CV score for class Target_3 is 0.703419956979

Train Accuracy: 65.66%
Test Accuracy: 62.61%
CV score for class Target_4 is 0.667176059104

Train Accuracy: 67.58%
Test Accuracy: 62.61%
CV score for class Target_5 is 0.676108374384

Train Accuracy: 67.86%
Test Accuracy: 62.82%
CV score for class Target_6 is 0.634854940381

Train Accuracy: 68.32%
Test Accuracy: 62.82%
CV score for class Target_7 is 0.639359316123

Train Accuracy: 70.52%
Test Accuracy: 60.68%
CV score for class Target_8 is 0.584499970465

Train Accuracy: 70.80%
Test Accuracy: 59.19%
CV score for class Target_9 is 0.624794745484

Train Accuracy: 67.68%
Test Accuracy: 63.25%
CV score for class Target_10 is 0.640069624197

Train Accuracy: 71.26%
Test Accuracy: 60.47%
CV score for class Target_11 is 0.684624017957

Train Accuracy: 75.02%
Test Accuracy: 64.10%
CV score for class Target_12 is 0.61834388928

Train Accuracy: 71.17%
Test Accuracy: 63.68%
CV score for class Target_13 is 0.680113643626

Train Accuracy: 71.17%
Test Accuracy: 63.89%
CV score for class Target_14 is 0.659732148564

Train Accuracy: 71.26%
Test Accuracy: 63.03%
CV score for class Target_15 is 0.649044421533

Train Accuracy: 73.92%
Test Accuracy: 61.32%
CV score for class Target_16 is 0.676608525996

Train Accuracy: 69.70%
Test Accuracy: 59.19%
CV score for class Target_17 is 0.65474537037

Train Accuracy: 70.71%
Test Accuracy: 61.75%
CV score for class Target_18 is 0.618892701302

Train Accuracy: 69.05%
Test Accuracy: 65.17%
CV score for class Target_19 is 0.679047650692

Train Accuracy: 72.82%
Test Accuracy: 65.17%
CV score for class Target_20 is 0.637835633991

Train Accuracy: 69.88%
Test Accuracy: 61.11%
CV score for class Target_21 is 0.678102355072

Train Accuracy: 74.56%
Test Accuracy: 61.11%
CV score for class Target_22 is 0.652261899273

Train Accuracy: 72.54%
Test Accuracy: 61.97%
CV score for class Target_23 is 0.642810424833

Train Accuracy: 75.48%
Test Accuracy: 64.32%
CV score for class Target_24 is 0.644223089289

Train Accuracy: 73.09%
Test Accuracy: 62.18%
CV score for class Target_25 is 0.66714543275

Train Accuracy: 75.57%
Test Accuracy: 57.91%
CV score for class Target_26 is 0.634829244829

Train Accuracy: 69.97%
Test Accuracy: 65.60%
CV score for class Target_27 is 0.650405092593

Train Accuracy: 74.20%
Test Accuracy: 62.39%
CV score for class Target_28 is 0.807386024483

Train Accuracy: 77.50%
Test Accuracy: 71.15%
CV score for class Target_29 is 0.98657923783

Train Accuracy: 98.44%
Test Accuracy: 97.22%
Total CV score is 0.670730684667