In [1]:
# For data manipulation

import pandas as pd

import numpy as np 

# machine learning classification

from sklearn.svm import SVC
from sklearn.svm import NuSVC

from sklearn.metrics import scorer

from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


# To plot
%matplotlib inline
import matplotlib.pyplot as plt

import seaborn

# To fetch data

#from pandas_datareader import data as pdr

In [2]:
hkong = pd.read_csv('E:/hkong_3days.csv')
print hkong.shape
hkong.head()

(1557, 771)

,Date,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
0,3/11/2013,32.200001,32.599998,31.700001,31.950001,1708417.0,34.200001,34.750000,34.000000,34.349998,...,-1,-1,-1,1,-1,-1,-1,-1,-1,-1
1,3/12/2013,31.950001,32.400002,31.799999,32.099998,1597412.0,34.799999,34.799999,34.150002,34.200001,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,3/13/2013,31.799999,32.099998,30.900000,31.100000,2922548.0,34.599998,34.599998,33.500000,33.900002,...,-1,1,-1,-1,-1,-1,1,1,-1,-1
3,3/14/2013,30.549999,31.350000,30.500000,31.000000,2704634.0,34.049999,34.049999,33.549999,34.000000,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,3/15/2013,31.650000,31.900000,30.850000,30.950001,3487274.0,34.500000,34.849998,34.099998,34.500000,...,-1,1,-1,-1,-1,-1,-1,1,-1,-1

In [3]:
hkong.index = hkong.Date
hkong = hkong.drop('Date', axis=1)
hkong.shape

(1557, 770)

In [4]:
hkong.head()

,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,Volume_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
Date,,,,,,,,,,,,,,,,,,,,,
3/11/2013,32.200001,32.599998,31.700001,31.950001,1708417.0,34.200001,34.750000,34.000000,34.349998,37379155.0,...,-1,-1,-1,1,-1,-1,-1,-1,-1,-1
3/12/2013,31.950001,32.400002,31.799999,32.099998,1597412.0,34.799999,34.799999,34.150002,34.200001,23618156.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3/13/2013,31.799999,32.099998,30.900000,31.100000,2922548.0,34.599998,34.599998,33.500000,33.900002,31644955.0,...,-1,1,-1,-1,-1,-1,1,1,-1,-1
3/14/2013,30.549999,31.350000,30.500000,31.000000,2704634.0,34.049999,34.049999,33.549999,34.000000,21286152.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3/15/2013,31.650000,31.900000,30.850000,30.950001,3487274.0,34.500000,34.849998,34.099998,34.500000,44707880.0,...,-1,1,-1,-1,-1,-1,-1,1,-1,-1

In [5]:
target=hkong.iloc[:, 740:].columns
target

Index([u'Target_0', u'Target_1', u'Target_2', u'Target_3', u'Target_4',
       u'Target_5', u'Target_6', u'Target_7', u'Target_8', u'Target_9',
       u'Target_10', u'Target_11', u'Target_12', u'Target_13', u'Target_14',
       u'Target_15', u'Target_16', u'Target_17', u'Target_18', u'Target_19',
       u'Target_20', u'Target_21', u'Target_22', u'Target_23', u'Target_24',
       u'Target_25', u'Target_26', u'Target_27', u'Target_28', u'Target_29'],
      dtype='object')

In [6]:
X = hkong.iloc[:, :740]

sc = StandardScaler()
X = sc.fit_transform(X)
#X_test = sc.transform(X_test)
X.shape

(1557, 740)

In [ ]:
scores = []

for col in target:
    y = hkong[col]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    

    classifier = LogisticRegression()

    cv_score = np.mean(cross_val_score(classifier, X_test, y_test, cv=3, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    classifier.fit(X_train, y_train)
    accuracy_train = accuracy_score(y_train, classifier.predict(X_train))

    accuracy_test = accuracy_score(y_test, classifier.predict(X_test))
    print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(test_features)[:, 1]

print('Total CV score is {}'.format(np.mean(scores)))

In [ ]:
scores = []

for col in target:
    y = hkong[col]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    classifier = SVC()

    cv_score = np.mean(cross_val_score(classifier, X_test, y_test, cv=3, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    classifier.fit(X_train, y_train)
    accuracy_train = accuracy_score(y_train, classifier.predict(X_train))

    accuracy_test = accuracy_score(y_test, classifier.predict(X_test))
    print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(test_features)[:, 1]

print('Total CV score is {}'.format(np.mean(scores)))

In [7]:
scores = []

for col in target:
    y = hkong[col]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    classifier = RandomForestClassifier()

    cv_score = np.mean(cross_val_score(classifier, X_test, y_test, cv=3, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    classifier.fit(X_train, y_train)
    accuracy_train = accuracy_score(y_train, classifier.predict(X_train))

    accuracy_test = accuracy_score(y_test, classifier.predict(X_test))
    print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(test_features)[:, 1]

print('Total CV score is {}'.format(np.mean(scores)))

CV score for class Target_0 is 0.649601025103

Train Accuracy: 99.17%
Test Accuracy: 61.32%
CV score for class Target_1 is 0.665432098765

Train Accuracy: 97.70%
Test Accuracy: 59.40%
CV score for class Target_2 is 0.695837794047

Train Accuracy: 98.53%
Test Accuracy: 62.18%
CV score for class Target_3 is 0.669617805548

Train Accuracy: 98.35%
Test Accuracy: 58.97%
CV score for class Target_4 is 0.652863114729

Train Accuracy: 98.81%
Test Accuracy: 60.04%
CV score for class Target_5 is 0.69138517476

Train Accuracy: 97.98%
Test Accuracy: 58.33%
CV score for class Target_6 is 0.638637798199

Train Accuracy: 98.26%
Test Accuracy: 62.82%
CV score for class Target_7 is 0.634758214987

Train Accuracy: 98.71%
Test Accuracy: 62.82%
CV score for class Target_8 is 0.613680666312

Train Accuracy: 98.99%
Test Accuracy: 61.97%
CV score for class Target_9 is 0.629838142153

Train Accuracy: 98.53%
Test Accuracy: 61.97%
CV score for class Target_10 is 0.623879481833

Train Accuracy: 98.35%
Test Accuracy: 59.40%
CV score for class Target_11 is 0.675533108866

Train Accuracy: 98.16%
Test Accuracy: 62.82%
CV score for class Target_12 is 0.656052076003

Train Accuracy: 98.07%
Test Accuracy: 63.68%
CV score for class Target_13 is 0.689962401735

Train Accuracy: 99.08%
Test Accuracy: 61.97%
CV score for class Target_14 is 0.654669015435

Train Accuracy: 98.90%
Test Accuracy: 64.96%
CV score for class Target_15 is 0.667012650442

Train Accuracy: 99.36%
Test Accuracy: 63.25%
CV score for class Target_16 is 0.706021469845

Train Accuracy: 98.26%
Test Accuracy: 60.68%
CV score for class Target_17 is 0.66953125

Train Accuracy: 99.08%
Test Accuracy: 61.54%
CV score for class Target_18 is 0.656768580232

Train Accuracy: 98.35%
Test Accuracy: 61.32%
CV score for class Target_19 is 0.69372438356

Train Accuracy: 98.44%
Test Accuracy: 63.03%
CV score for class Target_20 is 0.650503815015

Train Accuracy: 98.53%
Test Accuracy: 60.68%
CV score for class Target_21 is 0.640568387681

Train Accuracy: 98.35%
Test Accuracy: 56.62%
CV score for class Target_22 is 0.626010527089

Train Accuracy: 98.71%
Test Accuracy: 60.04%
CV score for class Target_23 is 0.63663827167

Train Accuracy: 98.81%
Test Accuracy: 64.32%
CV score for class Target_24 is 0.640964516721

Train Accuracy: 98.62%
Test Accuracy: 60.90%
CV score for class Target_25 is 0.677001752107

Train Accuracy: 98.44%
Test Accuracy: 58.33%
CV score for class Target_26 is 0.657789976836

Train Accuracy: 99.08%
Test Accuracy: 62.82%
CV score for class Target_27 is 0.636255787037

Train Accuracy: 98.62%
Test Accuracy: 60.68%
CV score for class Target_28 is 0.771389471183

Train Accuracy: 98.81%
Test Accuracy: 71.58%
CV score for class Target_29 is 0.988128848612

Train Accuracy: 100.00%
Test Accuracy: 97.65%
Total CV score is 0.672001920217