In [1]:
# For data manipulation

import pandas as pd

import numpy as np 

# machine learning classification

from sklearn.svm import SVC

from sklearn.metrics import scorer

from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score

# To plot
%matplotlib inline
import matplotlib.pyplot as plt

import seaborn

# To fetch data

from pandas_datareader import data as pdr

In [2]:
import glob
import pandas as pd
pattern='*.csv'
hong = glob.glob(pattern)
len(hong)

62

In [3]:
hong

['AAC Technologies Holdings Inc. (2018.HK).csv',
 'AIA Group Limited (1299.HK).csv',
 'BOC Hong Kong (Holdings) Limited (2388.HK).csv',
 'China Life Insurance Company Limited (2628.HK).csv',
 'China Mengniu Dairy Company Limited (2319.HK).csv',
 'China Mobile Limited (0941.HK).csv',
 'China Petroleum & Chemical Corporation(0386.HK).csv',
 'China Resources Land Limited (1109.HK).csv',
 'China Resources Power Holdings Company Limited (0836.HK).csv',
 'CITIC Limited (0267.HK).csv',
 'CK Infrastructure Holdings Limited (1038.HK).csv',
 'CLP Holdings Limited (0002.HK).csv',
 'CNOOC Limited (0883.HK).csv',
 'Galaxy Entertainment Group Limited (0027.HK).csv',
 'Hang Lung Properties Limited (0101.HK).csv',
 'Henderson Land Development Company Limited (0012.HK).csv',
 'Hengan International Group Company Limited (1044.HK).csv',
 'Industrial and Commercial Bank of China Limited (1398.HK).csv',
 'Lenovo Group Limited (0992.HK).csv',
 'New World Development Company Limited (0017.HK).csv',
 'Ping An Insurance (Group) Company of China, Ltd. (2318.HK).csv',
 'Power Assets Holdings Limited (0006.HK).csv',
 'Sands China Ltd. (1928.HK).csv',
 'Sino Land Company Limited (0083.HK).csv',
 'Sun Hung Kai Properties Limited (0016.HK).csv',
 'Tencent Holdings Limited (0700.HK).csv',
 'The Bank of East Asia, Limited (0023.HK).csv',
 'The Hong Kong and China Gas Company Limited (0003.HK).csv',
 'WH Group Limited (0288.HK).csv',
 'Wharf Real Estate Investment Company Limited (1997.HK).csv',
 'zz_AUD HKD - Australian Dollar Hong Kong Dollar.csv',
 'zz_EUR HKD - Euro Hong Kong Dollar.csv',
 'zz_GBP HKD - British Pound Hong Kong Dollar.csv',
 'zz_USD HKD - US Dollar Hong Kong Dollar.csv',
 'z_ALL ORDINARIES (^AORD).csv',
 'z_BEL 20 (^BFX).csv',
 'z_CAC 40 (^FCHI).csv',
 'z_CBOE Volatility Index (^VIX).csv',
 'z_DAX PERFORMANCE-INDEX (^GDAXI).csv',
 'z_Dow Jones Industrial Average (^DJI)).csv',
 'z_ESTX 50 PR.EUR (^STOXX50E) zurich.csv',
 'z_EURONEXT 100 (^N100)paris.csv',
 'z_HANG SENG INDEX (^HSI).csv',
 'z_IBOVESPA (^BVSP).csv',
 'z_IPC MEXICO (^MXX).csv',
 'z_IPSA SANTIAGO DE CHILE (^IPSA).csv',
 'z_Jakarta Composite Index (^JKSE).csv',
 'z_KOSPI Composite Index (^KS11).csv',
 'z_MERVAL (^MERV).csv',
 'z_MICEX Index (MICEXINDEXCF.ME) MCX currwncy in RUB.csv',
 'z_NASDAQ Composite (^IXIC).csv',
 'z_NIFTY 50 (^NSEI).csv',
 'z_Nikkei 225 (^N225).csv',
 'z_NYSE COMPOSITE (DJ) (^NYA).csv',
 'z_Russell 2000 (^RUT).csv',
 'z_S&P 500 (^GSPC).csv',
 'z_S&P ASX 200 (^AXJO) australia.csv',
 'z_S&P BSE SENSEX (^BSESN).csv',
 'z_S&P NZX 50 INDEX GROSS (^NZ50.csv',
 'z_S&P TSX Composite index (^GSPTSE)Toronto.csv',
 'z_SSE Composite Index (000001.SS) shanghai.csv',
 'z_TSEC weighted index (^TWII).csv']

In [2]:
#whenever open fresh, start from here
hkong = pd.read_csv('E:/hangseng/hkongpercent-1_ord_currency.csv')   
print hkong.shape
hkong.head()

(1555, 341)

,Date,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
0,3/11/2013,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,3/12/2013,-0.776397,-0.613485,0.315451,0.469474,1597412,1.754380,0.143882,0.441182,-0.436673,...,0,0,0,1,0,0,0,0,0,0
2,3/13/2013,-0.469490,-0.925938,-2.830186,-3.115259,2922548,-0.574716,-0.574716,-1.903373,-0.877190,...,0,0,0,0,0,0,0,0,0,0
3,3/14/2013,-3.930818,-2.336443,-1.294498,-0.321543,2704634,-1.589593,-1.589593,0.149251,0.294979,...,0,1,0,0,0,0,1,1,0,0
4,3/15/2013,3.600658,1.754386,1.147541,-0.161287,3487274,1.321589,2.349483,1.639341,1.470588,...,0,0,0,0,0,0,0,0,0,0

In [3]:
hkong.index = hkong.Date
hkong = hkong.drop('Date', axis=1)
hkong.shape

(1555, 340)

In [4]:
hkong.head()

,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,Volume_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
Date,,,,,,,,,,,,,,,,,,,,,
3/11/2013,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,...,0,0,0,0,0,0,0,0,0,0
3/12/2013,-0.776397,-0.613485,0.315451,0.469474,1597412,1.754380,0.143882,0.441182,-0.436673,23618156,...,0,0,0,1,0,0,0,0,0,0
3/13/2013,-0.469490,-0.925938,-2.830186,-3.115259,2922548,-0.574716,-0.574716,-1.903373,-0.877190,31644955,...,0,0,0,0,0,0,0,0,0,0
3/14/2013,-3.930818,-2.336443,-1.294498,-0.321543,2704634,-1.589593,-1.589593,0.149251,0.294979,21286152,...,0,1,0,0,0,0,1,1,0,0
3/15/2013,3.600658,1.754386,1.147541,-0.161287,3487274,1.321589,2.349483,1.639341,1.470588,44707880,...,0,0,0,0,0,0,0,0,0,0

In [5]:
hkong1 = hkong.copy()
hkong1.head()

,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,Volume_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
Date,,,,,,,,,,,,,,,,,,,,,
3/11/2013,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0,...,0,0,0,0,0,0,0,0,0,0
3/12/2013,-0.776397,-0.613485,0.315451,0.469474,1597412,1.754380,0.143882,0.441182,-0.436673,23618156,...,0,0,0,1,0,0,0,0,0,0
3/13/2013,-0.469490,-0.925938,-2.830186,-3.115259,2922548,-0.574716,-0.574716,-1.903373,-0.877190,31644955,...,0,0,0,0,0,0,0,0,0,0
3/14/2013,-3.930818,-2.336443,-1.294498,-0.321543,2704634,-1.589593,-1.589593,0.149251,0.294979,21286152,...,0,1,0,0,0,0,1,1,0,0
3/15/2013,3.600658,1.754386,1.147541,-0.161287,3487274,1.321589,2.349483,1.639341,1.470588,44707880,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#feeding next day's target
for i in range(30):
    hkong1['Target'+'_'+str(i)] = hkong1['Target'+'_'+str(i)].shift(-1)

In [7]:
#remove NAN row (only one)
hkong1 = hkong1.iloc[:1554,:]
hkong1.tail()

,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,Volume_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
Date,,,,,,,,,,,,,,,,,,,,,
3/2/2018,-2.580645,-1.963262,-2.181099,-1.107490,4187815,0.466207,-1.523229,-0.623050,-1.829262,31294395,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/4/2018,-2.580645,-1.963262,-2.181099,-1.107490,0,0.466207,-1.523229,-0.623050,-1.829262,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/5/2018,-1.125826,-0.775192,-1.081085,-2.042165,4760318,-0.850741,-0.464043,-2.507834,-2.872675,25358211,...,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
3/6/2018,3.148022,1.302083,2.459021,2.891730,5038858,-1.560062,0.621604,1.446940,3.197448,23416389,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3/7/2018,-2.597403,-1.156814,-1.799998,-2.614379,5324814,0.871639,-1.389964,-0.633910,-2.711083,22738854,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0

In [34]:
#hkong1.to_csv('E:/hangseng1/hkong1-0p5.csv')

In [8]:
target=hkong1.iloc[:, 310:339].columns
target

Index([u'Target_0', u'Target_1', u'Target_2', u'Target_3', u'Target_4',
       u'Target_5', u'Target_6', u'Target_7', u'Target_8', u'Target_9',
       u'Target_10', u'Target_11', u'Target_12', u'Target_13', u'Target_14',
       u'Target_15', u'Target_16', u'Target_17', u'Target_18', u'Target_19',
       u'Target_20', u'Target_21', u'Target_22', u'Target_23', u'Target_24',
       u'Target_25', u'Target_26', u'Target_27', u'Target_28'],
      dtype='object')

In [14]:
train = hkong1.iloc[:1244, :]
test = hkong1.iloc[1244:, :]
print test.shape
print train.tail()
print test.head()

(310, 340)
            Open_0    High_0     Low_0   Close_0  Volume_0    Open_1  \
Date
3/2/2017  0.669920  0.240960  0.000000  0.241979   4121196  0.202016
3/3/2017  0.000000  0.000000  0.121949  0.060355   1708460 -1.209673
3/5/2017  0.000000  0.000000  0.121949  0.060355         0 -1.209673
3/6/2017  1.633391  2.764427  0.974426  2.895055   3004881  0.204078
3/7/2017  2.083333  0.292398 -0.482511 -2.696369   3542823  0.712837

            High_1     Low_1   Close_1  Volume_1    ...      Target_20  \
Date                                                ...
3/2/2017  0.605447  0.204286  0.000000  25782158    ...            0.0
3/3/2017 -1.203607 -0.509684 -0.608517  30338963    ...            0.0
3/5/2017 -1.203607 -0.509684 -0.608517         0    ...            0.0
3/6/2017  0.203042  0.204924  0.102039  21327556    ...            1.0
3/7/2017  0.202640  0.204495  0.203880  12286532    ...            0.0

          Target_21  Target_22  Target_23  Target_24  Target_25  Target_26  \
Date
3/2/2017        0.0        0.0        0.0        0.0        0.0        0.0
3/3/2017        0.0        0.0        0.0        0.0        0.0        0.0
3/5/2017        0.0        0.0        0.0        0.0        1.0        0.0
3/6/2017        0.0        0.0        0.0        1.0        1.0        0.0
3/7/2017        0.0        1.0        0.0        0.0        0.0        0.0

          Target_27  Target_28  Target_29
Date
3/2/2017        0.0        0.0        0.0
3/3/2017        0.0        0.0        0.0
3/5/2017        0.0        0.0        0.0
3/6/2017        0.0        1.0        0.0
3/7/2017        0.0        0.0        0.0

[5 rows x 340 columns]
             Open_0    High_0     Low_0   Close_0  Volume_0    Open_1  \
Date
3/8/2017  -3.323613 -3.323613 -0.969701 -0.843370   2828771 -0.101110
3/9/2017  -1.085648 -0.723762 -0.183591 -0.182261   1535843  1.113358
3/10/2017  0.243899  0.607533 -0.061316  0.182594   2234580  0.100098
3/12/2017  0.243899  0.607533 -0.061316  0.182594         0  0.100098
3/13/2017  0.669103  4.287433  1.472389  3.402181   4998150 -2.199996

             High_1     Low_1   Close_1  Volume_1    ...      Target_20  \
Date                                                 ...
3/8/2017   0.707782  0.102039  1.119021  31042991    ...            0.0
3/9/2017   0.301209  0.407749 -0.201213  22191554    ...            0.0
3/10/2017  1.301295  0.609135  1.411292  33997638    ...            0.0
3/12/2017  1.301295  0.609135  1.411292         0    ...            1.0
3/13/2017 -2.371534 -2.018164 -2.982107  73803088    ...            0.0

           Target_21  Target_22  Target_23  Target_24  Target_25  Target_26  \
Date
3/8/2017         0.0        1.0        0.0        0.0        0.0        0.0
3/9/2017         0.0        0.0        1.0        1.0        1.0        0.0
3/10/2017        0.0        0.0        1.0        1.0        1.0        0.0
3/12/2017        0.0        0.0        0.0        0.0        1.0        1.0
3/13/2017        0.0        1.0        0.0        0.0        0.0        0.0

           Target_27  Target_28  Target_29
Date
3/8/2017         0.0        0.0        0.0
3/9/2017         0.0        0.0        0.0
3/10/2017        0.0        0.0        0.0
3/12/2017        1.0        0.0        0.0
3/13/2017        0.0        1.0        0.0

[5 rows x 340 columns]

In [15]:
Xtrain = train.iloc[:, :310]
Xtest = test.iloc[:, :310]
sc=StandardScaler()
Xtrain = sc.fit_transform(Xtrain)
Xtest = sc.fit_transform(Xtest)
print Xtrain.shape
print Xtest.shape

(1244, 310)
(310, 310)

In [16]:
scores = []
test_acc =[]
for col in target:
    ytrain = train[col]
    ytest = test[col]
    #X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    classifier = LogisticRegression()
    classifier.fit(Xtrain, ytrain)

    cv_score = np.mean(cross_val_score(classifier, Xtest, ytest, cv=10, scoring='roc_auc'))
    y_pred_prob = classifier.predict_proba(Xtest)[:, 1]
    #roc_score = roc_auc_score(ytest, y_pred_prob)
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    
    accuracy_train = accuracy_score(ytrain, classifier.predict(Xtrain))

    accuracy_test = accuracy_score(ytest, classifier.predict(Xtest))
    test_acc.append(accuracy_test*100)
    #print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    #print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    

print('Total ROC-AUC score is {}'.format(np.mean(scores)))
print ('Mean Test Accuracy is {: .2f}%'.format(np.mean(test_acc)))
test_acc = map(lambda x:round(x,2), test_acc)
test_acc_LR_1 =test_acc
print test_acc_LR_1

CV score for class Target_0 is 0.622533363323
CV score for class Target_1 is 0.593024322169
CV score for class Target_2 is 0.594598364598
CV score for class Target_3 is 0.52062987013
CV score for class Target_4 is 0.555128205128
CV score for class Target_5 is 0.5125
CV score for class Target_6 is 0.544331409331
CV score for class Target_7 is 0.534305194805
CV score for class Target_8 is 0.51214045214
CV score for class Target_9 is 0.467761904762
CV score for class Target_10 is 0.644442287785
CV score for class Target_11 is 0.562661538462
CV score for class Target_12 is 0.507899648661
CV score for class Target_13 is 0.522323179272
CV score for class Target_14 is 0.459013949014
CV score for class Target_15 is 0.457101275917
CV score for class Target_16 is 0.570616883117
CV score for class Target_17 is 0.506455342903
CV score for class Target_18 is 0.588638716356
CV score for class Target_19 is 0.550582010582
CV score for class Target_20 is 0.559387958533
CV score for class Target_21 is 0.560835897436
CV score for class Target_22 is 0.451216450216
CV score for class Target_23 is 0.492753727754
CV score for class Target_24 is 0.52987974988
CV score for class Target_25 is 0.519481792717
CV score for class Target_26 is 0.489508928571
CV score for class Target_27 is 0.569055555556
CV score for class Target_28 is 0.509643499775
Total ROC-AUC score is 0.534774188927
Mean Test Accuracy is  60.40%
[56.45, 55.48, 60.65, 55.81, 57.42, 62.26, 64.52, 53.87, 54.84, 60.32, 64.84, 70.0, 60.0, 54.52, 57.74, 61.61, 57.74, 59.03, 63.55, 56.13, 61.94, 70.65, 58.06, 59.68, 62.26, 61.61, 64.19, 69.35, 57.1]

In [17]:
scores = []
test_acc =[]
for col in target:
    ytrain = train[col]
    ytest = test[col]
    #X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    classifier = SVC()
    classifier.fit(Xtrain, ytrain)

    cv_score = np.mean(cross_val_score(classifier, Xtest, ytest, cv=10, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    
    accuracy_train = accuracy_score(ytrain, classifier.predict(Xtrain))

    accuracy_test = accuracy_score(ytest, classifier.predict(Xtest))
    test_acc.append(accuracy_test*100)
    #print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    #print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(Xtest)[:, 1]


print('Total CV score is {}'.format(np.mean(scores)))

print ('Mean Test Accuracy is {: .2f}%'.format(np.mean(test_acc)))
test_acc = map(lambda x:round(x,2), test_acc)
test_acc_SVC_1 =test_acc
print test_acc_SVC_1

CV score for class Target_0 is 0.572317813765
CV score for class Target_1 is 0.527196969697
CV score for class Target_2 is 0.589393939394
CV score for class Target_3 is 0.521177489177
CV score for class Target_4 is 0.495726495726
CV score for class Target_5 is 0.535869565217
CV score for class Target_6 is 0.475485810486
CV score for class Target_7 is 0.522294372294
CV score for class Target_8 is 0.479088504089
CV score for class Target_9 is 0.473153679654
CV score for class Target_10 is 0.582327251553
CV score for class Target_11 is 0.492492307692
CV score for class Target_12 is 0.478378897672
CV score for class Target_13 is 0.524781162465
CV score for class Target_14 is 0.479417989418
CV score for class Target_15 is 0.435707735247
CV score for class Target_16 is 0.544201298701
CV score for class Target_17 is 0.531951754386
CV score for class Target_18 is 0.594791666667
CV score for class Target_19 is 0.497631072631
CV score for class Target_20 is 0.481618819777
CV score for class Target_21 is 0.475723076923
CV score for class Target_22 is 0.512880952381
CV score for class Target_23 is 0.507195767196
CV score for class Target_24 is 0.497186147186
CV score for class Target_25 is 0.53693627451
CV score for class Target_26 is 0.514004270186
CV score for class Target_27 is 0.512186507937
CV score for class Target_28 is 0.508198380567
Total CV score is 0.513769516296
Mean Test Accuracy is  67.71%
[58.06, 61.94, 70.0, 63.87, 58.39, 72.26, 69.35, 62.26, 68.06, 65.81, 77.1, 81.94, 70.97, 58.71, 69.68, 64.52, 64.52, 63.55, 73.23, 67.1, 63.55, 83.23, 64.52, 70.0, 69.03, 58.39, 74.84, 79.03, 59.68]

In [18]:
scores = []
test_acc =[]
for col in target:
    ytrain = train[col]
    ytest = test[col]
    #X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    classifier = RandomForestClassifier()
    classifier.fit(Xtrain, ytrain)

    cv_score = np.mean(cross_val_score(classifier, Xtest, ytest, cv=10, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    
    accuracy_train = accuracy_score(ytrain, classifier.predict(Xtrain))

    accuracy_test = accuracy_score(ytest, classifier.predict(Xtest))
    test_acc.append(accuracy_test*100)
    #print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    #print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(Xtest)[:, 1]



print('Total CV score is {}'.format(np.mean(scores)))

print ('Mean Test Accuracy is {: .2f}%'.format(np.mean(test_acc)))
test_acc = map(lambda x:round(x,2), test_acc)
test_acc_RFC_1 =test_acc
print test_acc_RFC_1

CV score for class Target_0 is 0.47316782876
CV score for class Target_1 is 0.442127192982
CV score for class Target_2 is 0.52727032227
CV score for class Target_3 is 0.437917748918
CV score for class Target_4 is 0.416452991453
CV score for class Target_5 is 0.447826086957
CV score for class Target_6 is 0.425164742665
CV score for class Target_7 is 0.509887445887
CV score for class Target_8 is 0.478933381433
CV score for class Target_9 is 0.459825757576
CV score for class Target_10 is 0.530397580228
CV score for class Target_11 is 0.466751282051
CV score for class Target_12 is 0.46461627141
CV score for class Target_13 is 0.443734243697
CV score for class Target_14 is 0.45338985089
CV score for class Target_15 is 0.550919059011
CV score for class Target_16 is 0.503245670996
CV score for class Target_17 is 0.465468500797
CV score for class Target_18 is 0.509970238095
CV score for class Target_19 is 0.51063973064
CV score for class Target_20 is 0.449250398724
CV score for class Target_21 is 0.519774358974
CV score for class Target_22 is 0.515646103896
CV score for class Target_23 is 0.479268879269
CV score for class Target_24 is 0.527639490139
CV score for class Target_25 is 0.459754026611
CV score for class Target_26 is 0.508495082816
CV score for class Target_27 is 0.460186507937
CV score for class Target_28 is 0.452469448193
Total CV score is 0.478972076665
Mean Test Accuracy is  64.99%
[58.39, 61.61, 69.68, 61.29, 56.13, 65.16, 65.48, 61.29, 61.29, 62.58, 73.87, 80.32, 67.74, 59.03, 67.42, 60.0, 61.29, 62.26, 70.32, 63.87, 61.94, 74.84, 65.81, 64.84, 67.42, 55.16, 70.0, 77.1, 58.71]

In [19]:
scores = []
test_acc =[]
for col in target:
    ytrain = train[col]
    ytest = test[col]
    #X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    classifier = GradientBoostingClassifier()
    classifier.fit(Xtrain, ytrain)

    cv_score = np.mean(cross_val_score(classifier, Xtest, ytest, cv=10, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    
    accuracy_train = accuracy_score(ytrain, classifier.predict(Xtrain))

    accuracy_test = accuracy_score(ytest, classifier.predict(Xtest))
    test_acc.append(accuracy_test*100)
    #print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(Xtest)[:, 1]



print('Total CV score is {}'.format(np.mean(scores)))

print ('Mean Test Accuracy is {: .2f}%'.format(np.mean(test_acc)))
test_acc = map(lambda x:round(x,2), test_acc)
test_acc_GBC_1 =test_acc
print test_acc_GBC_1

CV score for class Target_0 is 0.520835207677
Test Accuracy: 59.68%
CV score for class Target_1 is 0.499589314195
Test Accuracy: 62.26%
CV score for class Target_2 is 0.519163059163
Test Accuracy: 69.03%
CV score for class Target_3 is 0.464545454545
Test Accuracy: 66.45%
CV score for class Target_4 is 0.421367521368
Test Accuracy: 60.00%
CV score for class Target_5 is 0.541847826087
Test Accuracy: 68.71%
CV score for class Target_6 is 0.458484848485
Test Accuracy: 71.61%
CV score for class Target_7 is 0.545430735931
Test Accuracy: 61.94%
CV score for class Target_8 is 0.540870610871
Test Accuracy: 66.45%
CV score for class Target_9 is 0.503010822511
Test Accuracy: 70.97%
CV score for class Target_10 is 0.527076863354
Test Accuracy: 71.61%
CV score for class Target_11 is 0.505651282051
Test Accuracy: 81.61%
CV score for class Target_12 is 0.549678853755
Test Accuracy: 67.42%
CV score for class Target_13 is 0.414422268908
Test Accuracy: 62.26%
CV score for class Target_14 is 0.519975949976
Test Accuracy: 67.42%
CV score for class Target_15 is 0.39899122807
Test Accuracy: 64.52%
CV score for class Target_16 is 0.568311688312
Test Accuracy: 66.77%
CV score for class Target_17 is 0.497765151515
Test Accuracy: 60.65%
CV score for class Target_18 is 0.62013134058
Test Accuracy: 75.81%
CV score for class Target_19 is 0.411180856181
Test Accuracy: 69.03%
CV score for class Target_20 is 0.483257575758
Test Accuracy: 64.84%
CV score for class Target_21 is 0.519897435897
Test Accuracy: 78.71%
CV score for class Target_22 is 0.446831168831
Test Accuracy: 67.74%
CV score for class Target_23 is 0.462154882155
Test Accuracy: 67.74%
CV score for class Target_24 is 0.503335738336
Test Accuracy: 69.03%
CV score for class Target_25 is 0.473333333333
Test Accuracy: 56.45%
CV score for class Target_26 is 0.525698757764
Test Accuracy: 69.35%
CV score for class Target_27 is 0.431992063492
Test Accuracy: 77.42%
CV score for class Target_28 is 0.493790298396
Test Accuracy: 60.32%
Total CV score is 0.495469728879
Mean Test Accuracy is  67.44%
[59.68, 62.26, 69.03, 66.45, 60.0, 68.71, 71.61, 61.94, 66.45, 70.97, 71.61, 81.61, 67.42, 62.26, 67.42, 64.52, 66.77, 60.65, 75.81, 69.03, 64.84, 78.71, 67.74, 67.74, 69.03, 56.45, 69.35, 77.42, 60.32]